.news{
    width: 100%;
    height: 90dvh;
    background: $grey;
    .top{
        display: flex;
        width: 90%;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
        padding-top: 3rem;

        .text{
            p{
                color: $primary-color;
                padding-bottom: .7rem;
            }
            h2{
                font-size: 2rem;
            }   
        }

        .link{
                font-size: 1rem;
                display: flex;
                align-items: center;
                gap: 5px;
                color: $primary-color;

                &:hover{
                    background: $primary-color;
                    color: white;
                    padding: .3rem .7rem;
                }
            }
    }

    .bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        gap: 2%;
        margin: 0 auto;

        .news_card{
            width: 100%;

            img{
                width: 100%;
                // height: 80%;/
            }
            .heading{
                text-transform: capitalize;
                padding: .7rem 0;
                font-size: .8rem;
            }
            .text{
                font-size: .8rem;
                color: slategray;
                padding: .4rem 0;
            }
            .date{
                font-size: .7rem;
                color: slategray;
            }
        }
    }
}

.bottom_mobile{
    display: none;
}

@include mobile{
    .news{
        width: 100%;
        height: auto;
        background: $grey;
        padding: 5% 0;
        .top{
            display: flex;
            width: 90%;
            align-items: center;
            margin: 0 auto;
            justify-content: space-between;
            padding-top: 1rem;
    
            .text{
                p{
                    color: $primary-color;
                    padding-bottom: .3rem;
                    font-size: 1.2rem;
                }
                h2{
                    font-size: 2rem;
                }   
            }
    
            .link{
                    font-size: 1.1rem;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    color: $primary-color;
    
                    &:hover{
                        background: $primary-color;
                        color: white;
                        padding: .3rem .7rem;
                    }
                }
        }
    
        .bottom{
            display: none;
            grid-template-columns: 1fr ;
            width: 100%;
            padding: 0 5%;
            gap: 2%;
            margin: 0 auto;
    
            .news_card{
                width: 100%;
    
                img{
                    width: 100%;
                    // height: 80%;/
                }
                .heading{
                    text-transform: capitalize;
                    padding: .2rem 0;
                    font-size: 1.2rem;
                }
                .text{
                    font-size: 1rem;
                    color: slategray;
                    padding: .2rem 0;
                }
                .date{
                    font-size: .8rem;
                    padding: 2% 0;
                    margin-bottom: 10%;
                    color: slategray;
                }
            }
        }

        .bottom_mobile{
            display: grid;
            grid-template-columns: 1fr ;
            width: 100%;
            padding: 0 5%;
            gap: 2%;
            margin: 0 auto;
    
            .news_card{
                width: 100%;
    
                img{
                    width: 100%;
                    // height: 80%;/
                }
                .heading{
                    text-transform: capitalize;
                    padding: .2rem 0;
                    font-size: 1.2rem;
                }
                .text{
                    font-size: 1rem;
                    color: slategray;
                    padding: .2rem 0;
                }
                .date{
                    font-size: .8rem;
                    padding: 2% 0;
                    margin-bottom: 10%;
                    color: slategray;
                }
            }
        }
    }
}