.buy-your-car{
    position: relative;
    width: 100%;
    height: 75dvh;
    // background: #d0dce4b3;
    margin-top: 10%;
}


.relative{
    width: 100%;
    background: #d0dce4b3;
    height: 100%;
// background: blue;
}

.second{
    width: 100%;
    // height: 100%;
    // background: blue;

    &_container {
        // background: yellow;
        display: block;
        padding-top: 12%;
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5%;
        row-gap: 10%;

        .grid_layout_item{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;

            .top{
                font-size: 2.2rem;
                padding: .2rem;
                font-weight: 300;
            }

            .title{
                text-transform: capitalize;
                font-size: 1.3rem;
                font-weight: 300;
                padding: .2rem;
            }

            .text{
                width: 90%;
                text-align: start;
                font-size: .9rem;
                padding: .2rem;
                color: slategrey;
            }
        }
    }
}



.to_buy{
    width: 90%;
    margin: 6rem auto;
    // height: 20dvh;
    // box-shadow: 1px 1px 1px #f3f2f2;
    padding: 1% 2%;
    background: white;
    position: absolute;
    // bottom: 0px;
    right: 5%;
    margin-top: -3rem;
   
@include show-to-buy;
transition: all .7s linear;

    .header{
        color: $primary-color;
        font-size: 1rem;
    }

    .flex-container{
        display: flex;
        justify-content: space-between;


        .left{
            width: 50%;
            text-transform: capitalize;
            font-size: 1.8rem;
        }

        .right{
            width: 40%;
            font-size: .8rem;
            color: slategray;
        }
    }
}

@include mobile{
    .buy-your-car{
        position: relative;
        width: 100%;
        height: 110dvh;
        // background: #d0dce4b3;
        margin-top: 25%;
    }
    
    
    .relative{
        width: 100%;
        background: #d0dce4b3;
        height: 100%;
    // background: blue;
    }
    
    .second{
        width: 100%;
        // height: 100%;
        // background: blue;
    
        &_container {
            // background: yellow;
            display: block;
            padding-top: 12%;
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2%;
            row-gap: 2%;
            padding-top: 55%;
    
            .grid_layout_item{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2%;
    
                .top{
                    font-size: 2rem;
                    padding: .2rem;
                    font-weight: 300;
                }
    
                .title{
                    text-transform: capitalize;
                    font-size: 1.3rem;
                    font-weight: 300;
                    padding: .2rem;
                }
    
                .text{
                    width: 90%;
                    text-align: start;
                    font-size: 1rem;
                    padding: .2rem;
                    color: slategrey;
                }
            }
        }
    }
    
    
    
    .to_buy{
        width: 90%;
        margin: 6rem auto;
        height: auto;
        // height: 20dvh;
        // box-shadow: 1px 1px 1px #f3f2f2;
        padding: 1% 2%;
        background: white;
        position: absolute;
        // bottom: 0px;
        right: 5%;
        margin-top: -3rem;
    
    
        .header{
            color: $primary-color;
            font-size: 1.2rem;
        }
    
        .flex-container{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
    
    
            .left{
                width: 100%;
                text-transform: capitalize;
                font-size: 1.3rem;
            }
    
            .right{
                width: 100%;
                font-size: .9rem;
                padding: 2% 0;
                color: slategray;
            }
        }
    }
}