.third{
    width: 100%;
    // height: 70dvh;
    // background: green;
    margin-bottom: 2%;

    &_small{
        color: $primary-color;
        font-size: 1.3rem;
        text-align: center;
    }
    &_large{
        text-align: center;
        font-size: 2rem;
        padding-top: .3rem;
        padding-bottom: .5rem;
    }
    &_paragraph{
        text-align: center;
        width: 60%;
        margin: 0 auto;
        font-size: .9rem;
    }

    &_images{
        width: 100%;
        // background: blue;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &_car{
            img{
                // width: 22rem;
                // background: yellow;

            }

            &_circle {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                gap: 15px;

                div{
                width: 12px;
                height: 12px;
                border: 1px solid $primary-color;
                border-radius: 50%;

                &.active{
                    background: $primary-color;
                }
                &:hover{
                     background: $primary-color;
                }
                }
            }
        }
    }
}

.slide-img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;

    img{
// width: 100%;
//     height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    }
    
}

.slide-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 2% 2%;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding:0 2%;
    margin-top: 5%;
    // background: red;
    // display: block;

    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        border: 1px solid $primary-color;
        border-radius: 50%;
    }
    .swiper-pagination-bullet-active{
        background: $primary-color;
    }
}

.swiper-button-next, .swiper-button-prev{
    color: $primary-color;
    font-size: 1.5rem;
}

@include mobile{
    .third{
        width: 100%;
        // height: 40dvh;
        // background: green;
        margin-bottom: 0;

    
        &_small{
            color: $primary-color;
            font-size: 1rem;
            text-align: center;
        }
        &_large{
            text-align: start;
            margin: 0 auto;
            width: 90%;
            font-size: 1.5rem;
            padding-top: .3rem;
            padding-bottom: .5rem;
        }
        &_paragraph{
            text-align: start;
            margin: 0 auto;
            width: 90%;
            margin: 0 auto;
            font-size: .8rem;
        }
    
        &_images{
            width: 90%;
            // background: blue;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: .5rem auto;
    
            &_car{
                img{
                    width: 9rem;
                    // background: yellow;
    
                }
    
                &_circle {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
    
                    div{
                    width: 8px;
                    height: 8px;
                    border: 1px solid $primary-color;
                    border-radius: 50%;
    
                    &.active{
                        background: $primary-color;
                    }
                    &:hover{
                         background: $primary-color;
                    }
                    }
                }
            }
        }
    }


.slide-img{
    // width: 70%;
    // height: 100%;
    object-fit: contain;
    align-content: center;

    img{
    // width: 40%;
    // height: 100%;
    // aspect-ratio: 16/9;
    object-fit: contain;
    }
    
}

.slide-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    padding: 5% 20%;
    // margin-bottom: 2%;
}


.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding:0 2%;
    margin-top: 10%;
    // background: red;
    display: block;

    .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        border: 1px solid $primary-color;
        border-radius: 50%;
    }
    .swiper-pagination-bullet-active{
        background: $primary-color;
    }
}

}