.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // background-color: gray;
    padding: 20px 25px ;
    border-bottom: 1px solid white;
    color: white;
    font-family: sans-serif;
    position: absolute;

    &_links{
        display: flex;
        list-style-type: none;
        gap: 20px;
        font-size: 1.2rem;

       
      

        li a{
            text-decoration: none;
            color: white;
           
              &.active{
                color: $primary-color;
            }
           
            &:hover{
                color: $primary-color;
            }

           
        }
    }



    &_logo{
        font-size: 2rem;
    }

    &_btn{
        padding: 6px 10px;
        border-radius: 4px;
        background: transparent;
        border: 1px solid white;
        color: white;
    }
}




 .with_dropdown{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
        }

.humburger{
    padding-left: 20px;
}