.testimonial{
    width: 100%;
    height: 80dvh;
    padding-top: 1rem;
    background:
    linear-gradient(
        to right,
        rgb(0,0,0,0.9),
        rgb(0,0,0,0.6),
    )
    ,url('../../public/carinterior.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &_card_container{
        width: 70%;
        height: 80%;
        background: $grey-blue ;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        column-gap: 1%;

        .circle{
            position: absolute;
            width: 80px;
            height: 80px;
            background: $primary-color;
            border-radius: 50%;
            top: 0;
            left: 20px;
            margin-top: -35px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            color: white;
        }

        .left{
            width: 40%;
            // background: brown;
            padding-left: 3%;

            p{
                color: $primary-color;
                padding: 2% 0;
            }
            h2{
                color: white;
                text-transform: capitalize;
                font-size: 2rem;
            }

            span{
                font-size: 0.8rem;
                color: slategray;
            }
        }
        .right{
            // background: green;
            width: 70%;
            position: relative;

            .right_absolute{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            position: absolute;
            border-top: 3px solid $primary-color;
            width: 100%;
            top: -10rem;
            left: 5rem;
            gap: 2%;

            .card{
                background: white;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                text-align: center;
                .img{
                    width: 80%;
                    margin: 0 auto;
                    padding: 6% 0;
                    img{
                        width: 100%;
                        height: 8rem;
                        
                    }
                }

                .about{
                    font-size: 0.8rem;
                    padding: 10% 0;
                    width: 80%;
                    margin: 0 auto;
                     color: slategray;
                }

                .text{
                    font-size: 1.1rem;
                    color: $primary-color;
                    padding: 3% 0;
                }

                .title{
                    text-transform: capitalize;
                    padding: 3% 0;
                    font-size: .8rem;
                    color: slategray;
                }
            }
        }
        }
    }
}



@include mobile{
    .testimonial{
        width: 100%;
        height: auto;
        padding: 5rem 0;
        background:
        linear-gradient(
            to right,
            rgb(0,0,0,0.9),
            rgb(0,0,0,0.6),
        )
        ,url('../../public/carinterior.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // margin-bottom: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    
    
        &_card_container{
            width: 90%;
            padding: 2% 5%;
            height: auto;
            background: $grey-blue ;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            column-gap: .4%;
            padding-bottom: 5%;
            flex-direction: column;
    
            .circle{
                position: absolute;
                width: 60px;
                height: 60px;
                background: $primary-color;
                border-radius: 50%;
                top: 0;
                left: 20px;
                margin-top: -35px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 2rem;
                color: white;
            }
    
            .left{
                width: 100%;
                // background: brown;
                padding: 10% 0;
    
                p{
                    color: $primary-color;
                    padding: 2% 0;
                    font-size: 1.1rem;
                }
                h2{
                    color: white;
                    text-transform: capitalize;
                    font-size: 2rem;
                    padding-bottom: 2%;
                }
    
                span{
                    font-size: .9rem;
                    color: slategray;
                }
            }
            .right{
                // background: green;
                width: 100%;
                margin-top: 5%;
                position: relative;
                display: none;
    
            //     .right_absolute{
            //     display: grid;
            //     grid-template-columns: 1fr 1fr 1fr;
            //     position: relative;
            //     border-top: 3px solid $primary-color;
            //     width: 100%;
            //     top: 0rem;
            //     left: 0rem;
            //     gap: 1%;
    
            //     .card{
            //         background: white;
            //         display: flex;
            //         flex-direction: column;
            //         width: 100%;
            //         height: 100%;
            //         text-align: center;
            //         .img{
            //             width: 60%;
            //             // aspect-ratio: 16/9;
            //             // object-fit: cover;
            //             margin: 0 auto;
            //             padding: 6% 0;
            //             img{
            //                 width: 60%;
            //                 height: 8rem;
                            
            //             }
            //         }
    
            //         .about{
            //             font-size: .9rem;
            //             padding: 10% 0;
            //             width: 80%;
            //             margin: 0 auto;
            //              color: slategray;
            //         }
    
            //         .text{
            //             font-size: .9rem;
            //             color: $primary-color;
            //             padding: 3% 0;
            //         }
    
            //         .title{
            //             text-transform: capitalize;
            //             padding: 3% 0;
            //             font-size: .7rem;
            //             color: slategray;
            //         }
            //     }
            // }
            }
        }
    }

.testimonial-carousel{
    width: 100%;
    margin-top: 5%;
    position: relative;
    height: auto;
    background: white;

    &-card{
        display: flex;

        .img{
            width: 50%;
        }

        .text-side{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 2%;

            .about{
                font-size: 1rem;
                color: $grey-blue;
                padding: 5% 0;
            }

            .text{
                color: $primary-color;
                font-size: 1.3rem;
                padding: 5% 0;
            }

            .title{
                color: slategrey;
            }
        }

        
    }
}

}